.margin-right-8 {
  margin-right: 8px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-left-16 {
  margin-left: 16px;
}
.margin-right-16 {
  margin-right: 16px;
}
.margin-right-24 {
  margin-right: 24px;
}
@for $i from 1 to 4 {
  .mt#{$i*8} {
    margin-top: $i * 8 + px
  }
  .ml#{$i*8} {
    margin-left: $i * 8 + px
  }
  .mr#{$i*8} {
    margin-right: $i * 8 + px
  }
  .mb#{$i*8} {
    margin-bottom: $i * 8 + px
  }
};