.margin-right-8 {
  margin-right: 8px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-left-16 {
  margin-left: 16px;
}
.margin-right-16 {
  margin-right: 16px;
}
.margin-right-24 {
  margin-right: 24px;
}